#Virtual Enviroment
venv/

#Flask
instance/*
!instance/.gitignore
.webassets-Cache

# Flask.Python Stack
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Visual Studio 2015 user specific files
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

.idea/