{% extends 'base.html' %}


{% block body %}
<div class="right">
<h2>Welcome to CS:GO to Billionaire</h2>
        Lets take a moment to get acquainted with our system.
    <br><hr>
        Here is a brief description of our objectives.
    <br><br>
        Objective #1. We wanted to provide you reliable system for your CS:G0 bets using recent historical data!
    <br>
        Objective #2  We also wanted you to know the top players on every map.
    <br><hr>
        Lets define some terms.
    <br><br>
        An <b>EVENT</b> is any tournament where CS:GO data was recorded.
    <br>
        A <b>PLAYER</b> is someone who played at an event. The dataset uses the name that player went by at that event.
    <br>
        Each <b>TEAM</b> consists of five players at en event. The dataset uses the name that the team went by at that event.
    <br>
        A <b>MATCH</b> consists of two teams on a specific map.
    <br>
        A <b>MAP</b> is the location in CS:GO where the two teams are playing.
    <br>
        <b>KDA</b> is an acronym for kill-death ratio. Our formula is (Kills * .5 Assists)/Deaths.
    <br>
        <b>ADR</b> is average damage per round that a player does. Each player only has 100 hit points.
    <br>
        <b>RANKING</b> was done by the dataset where an average player/team would have a rank of 1. This was then normalized to a bell curve.
    <br><hr>
        Now our system has two unique features.
    <br><br>
        The first is visualization of match data for players.
    <br>
        The second feature is a prediction model that is based on historical data.


</div>
{% endblock %}