{% extends 'base.html' %}

  {% block body %}
  <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}" >
  <div  role="alert">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
    
  {% endif %}
{% endwith %}
  </div>




<div class="sidebar">
  <form action=" " method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Enter team names</legend>
        <div>
            {{ form.team1name.label (class="form-label mt-4") }}
            {% if form.team1name.errors %}
                {{ form.team1name }}
                {% for error in form.team1name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.team1name (class="form-select") }}
            {% endif %}

        </div>
        <div>
          {{ form.team2name.label (class="form-label mt-4") }}
          {% if form.team2name.errors %}
              {{ form.team2name }}
              {% for error in form.team2name.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
              {% else %}
              {{ form.team2name (class="form-select")}}
          {% endif %}

      </div>
      <div>
        {{ form.selectmap.label (class="form-label mt-4") }}
        {% if form.selectmap.errors %}
            {{ form.selectmap }}
            {% for error in form.selectmap.errors %}
                <span>{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.selectmap (class="form-select" )}}
        {% endif %}

    </div>
    </fieldset>
    <br/>
    <div>
        {{ form.submit }}
    </div>
</form>


</div>

<div class="right"  style="text-align: center;" >
  <h4>Prediction: {{winner}}</h4>
  <h5>Winning rate: {{winrate}}%</h5>
  <div class="card-body" style="padding-left: 280px;">
<br/>
    <canvas id="income_vs_expense" style="width:100%;max-width:450px;max-height:450px"></canvas>
    <div class="chart-container" style="margin:auto">

      
    </div>
</div>

<div>


</div>

     


</div>
{% block javascript %}
<script>
    let income_vs_expense_chart = new Chart(income_vs_expense, {
            type: 'pie',
            data: {
            labels: ['team1 (%)', 'team2 (%)'],
                datasets: [{
                    label: "winning rate",
                    data: [{{rate_1}},{{rate_2}}],
                    backgroundColor: ['#5DA5DA ', '#FAA43A'],

                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                
                    pointHoverRadius: 5
                }],
            },
            options: {
                    title: {
                        display: true,
                            text: "Income Vs Expenses",
                                fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray"
                        },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
        })
</script>
{% endblock%}

{% endblock %}